<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>CircleItem</key><dict><key>content</key><string>@DroiExposeNSString</string><key>photos</key><string>@DroiExposeNSArray</string><key>type</key><string>@DroiExposeNSString</string><key>user</key><string>User</string></dict><key>CommentItem</key><dict><key>circleId</key><string>@DroiExposeNSString</string><key>content</key><string>@DroiExposeNSString</string><key>toReplyUser</key><string>User</string><key>user</key><string>User</string></dict><key>PhotoInfo</key><dict><key>icon</key><string>DroiFile</string></dict><key>User</key><dict><key>headIcon</key><string>DroiFile</string><key>headUrl</key><string>@DroiExposeNSString</string><key>nickName</key><string>@DroiExposeNSString</string></dict></dict></plist>